
kubectl delete -f {{ manifest }}
kubectl create -f {{ manifest }}
chgrp -R 101 {{ nfs_date_dir }}/results
chmod g+w {{ nfs_date_dir }}/results
sleep 2
while kubectl get deployment  | grep oaipmh-harvester | awk '{ print $5 }' | grep -v '1'
do
    echo "Wait for harvester to accept requests"
    sleep 3
done
sleep 5
# Copyright 2018 Tobias Weber weber@lrz.de
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: oaipmh-harvester 
  labels:
    app: oaipmh-harvester 
    scs: harvest
    community: EREE 
    partner: cau 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oaipmh-harvester
  template:
    metadata:
      labels:
        scs: harvest 
        community: EREE
        app: oaipmh-harvester
    spec:
      containers:
      - name: oaipmh-harvester 
        image:  docker-registry.gerdi.research.lrz.de:5043/harvest/oaipmh
        ports:
          - containerPort: 8080
        volumeMounts:
          - mountPath: /var/lib/jetty/harvestedIndices
            name: oaipmh-results
      imagePullSecrets:
      - name: lrz-docker-registry-secret 
      volumes:
      - name: oaipmh-results
        hostPath:
          path: /mnt/nfs/ubiquando/{{ date }}/results
---
apiVersion: v1
kind: Service
metadata:
  name: oaipmh-harvester 
  labels:
    run: oaipmh-harvester 
    scs: harvest 
    community: EREE 
    partner: cau
spec:
  clusterIP: 10.222.21.21
  ports:
    - port: 8080
      protocol: TCP
  selector:
    app: oaipmh-harvester
