#!/bin/bash
function harvest {
    mdf = $1 
    hvresult={{ rdr_dir }}/{{ rdr.id }}_${mdf}.json
    if [ ! -f $hvresult ]
    then
        echo "Start Harvest for {{ rdr.id }}"
        curl -X PUT 10.222.21.21:8080/oaipmh/harvest/config -d "hostUrl={{ rdr.OAIPMH_URL }}"
        curl -X PUT 10.222.21.21:8080/oaipmh/harvest/config -d "metadataPrefix=$mdf"
        curl -X PUT 10.222.21.21:8080/oaipmh/harvest/config -d "from=1000-01-01"
        curl -X PUT 10.222.21.21:8080/oaipmh/harvest/config -d "until={{ until }}"
        curl -X POST 10.222.21.21:8080/oaipmh/harvest
        # Wait for harvest to finish
        while  curl 10.222.21.21:8080/oaipmh/harvest | grep Harvest: | awk '{ print $2 }' | egrep -v "Finished|Failed" 2> /dev/null
        do
            echo "Waiting for Harvest to be finished"
            sleep 3
        done
        curl -X POST 10.222.21.21:8080/oaipmh/harvest/save
        echo "Wait for save"
        while curl 10.222.21.21:8080/oaipmh/harvest | grep 'Save to disk': | egrep -v "Finished|Failed" 2> /dev/null
        do
            echo "Waiting for Harvest to be persisted"
            sleep 3
        done
        sleep 3
        hvcache=$(ls {{ nfs_date_dir }}/results/OaipmhHarvesterService_result_*.json) 
        mv $hvcache $hvresult 
        ls -lh $hvresult 
    else
        echo "Reusing old file $hvresult"
    fi

echo -n "Starting harvesting at $(date) for {{ rdr.id }}"
harvest({{mdf}})
echo -n "Finished harvesting at $(date) for {{ rdr.id }}"
